<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to the Music Database!!</h1>
<p><a>click on the links for things to do</a></p>

<p><a href="searchArtists.html">search different artists</a></p>
<p><a href="searchSingles.html">search different singles</a></p>
<p><a href="searchGrammy.html">search grammys won by an artist</a></p>
<p><a href="artistB.html">bookmarked artists</a></p>
<p><a href="singlesB.html">bookmarked singles</a></p>

</form>

</body>


</html>
