<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to the Music Database!!</h1>
<p><a>click on the links for things to do</a></p>

<p><a href="/searchArtists">search different artists</a></p>
<p><a href="/searchSingles">search different singles</a></p>
<p><a href="/searchGrammy">search grammys won by an artist</a></p>
<p><a href="/searchBookmarkedArtists">bookmarked artists</a></p>
<p><a href="/searchBookmarkedSingles">bookmarked singles</a></p>

</form>

</body>


</html>
