<table>
  <tr>
    <th>Title</th>
    <th>Release Date</th>
    <th>Main Artist</th>
    <th>Genre</th>
    <th>Album It's A Part Of</th>
  </tr>
<tr>
            <td>
              {%for n in title%}
              <div>{{n}}</div>
              {% endfor %}
            </td>
            <td>
              {%for y in releasedate%}
              <div>{{y}}</div>
              {% endfor %}
            </td>
            <td>
              {%for t in main%}
              <div>{{t}}</div>
              {% endfor %}
            </td>
            <td>
              {%for d in genre%}
              <div>{{d}}</div>
              {% endfor %}
            </td>
             <td>
              {%for m in album%}
              <div>{{m}}</div>
              {% endfor %}
            </td>

           <td>
              {%for m in since%}
              <div>{{m}}</div>
              {% endfor %}
            </td>

  </tr>


</table>

<p><a href="/homepage">homepage</a></p>
<p><a href="/searchSingles">search another single</a></p>

